* {
    transition: background-color 0.3s, color 0.3s;
}

.navbar {
    display: flex;
    align-items: center;
    height: 64px;
}

.navbar-nav {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 0;
}

#confetti {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    pointer-events: none;
}

.jumbotron-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    padding: 1rem;
}

.jumbotron-container-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.link-label-active {
    color: #8585FF;
    font-weight: bold;
    border-bottom: 1px solid #8585FF;
}


.link-label-inactive:hover {
    color: #8585FF;
    border-bottom: 1px solid #8585FF;
}

.text-highlight-accent {
    color: #8585FF;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: 0.75s;
    transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1;
}

.btn-primary, .collapsed, .btn-primary:focus-visible {
    background-color: #8585FF !important;
    border: none !important;
    margin-bottom: 1rem;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 10px #8585FF !important;
    background-color: #6f6fff !important;
}

#dmToggle, #dmToggle:focus, #dmToggle:focus, #dmToggle:active {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
    background-color: transparent !important;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, rgb(62, 62, 114) 0%, rgb(84, 84, 255) 100%);
    border-radius: 10px;
}

.last-hr {
    margin-bottom: 0;
}

.typed {
    display: inline;
    white-space: nowrap;
    font-weight: bold;
    margin-left: 0.25em;
}

@media (max-width: 767.98px) {
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(110, 110, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
    
    .jumbotron-container {
        flex-direction: column;
        align-items: stretch;
    }
}

.gradient-text {
    background-image: linear-gradient(180deg, rgba(110, 110, 255, 1) 30%, rgb(170, 170, 255) 80%);
    color: transparent;
    background-clip: text;
}

main {
    flex: 1;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    /* Does this even do anything? */
    scroll-behavior: smooth;
}

hr {
    color: #8585FF;
    background-color: #8585FF;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

img {
    cursor: zoom-in;
}

a {
    background-image: linear-gradient(180deg, rgba(110, 110, 255, 1) 30%, rgb(170, 170, 255) 80%);
    color: transparent;
    background-clip: text;
}

a:hover {
    text-decoration: underline;
    color: #8585FF;
}

.lead a {
    transition: color 0.6s ease;
}
